body{
	font-size:14px;
	width:100%;
	margin:0;
	padding:0;
}
.clr{
	clear:both;
}
.s_shadow{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index: 100;
	background-color:rgba(0,0,0,.3);
}
#welcome_banner{
	position:relative;
	width:100%;
	height:950px;
	background:url(/naturally.com/images/nature_background.jpg) no-repeat;
	margin-bottom: 10px;
}
#emblem{
	margin:0 auto;
	position: relative;
	z-index:120;
	display:block;
	width:200px;
}
#main_h1{
	text-align:left;
	padding-left:10%;
	padding-top:95px;
	font-size: 10em;
	margin:0;
	text-transform: uppercase;
	color:#fff;
	font-weight:100;
	position: relative;
	z-index: 120;
	font-family: 'PT Sans Narrow', sans-serif;
}
#sub_slogan{
	text-align:left;
	position: relative;
	z-index: 120;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:4em;
	padding-left:10%;
	color:#fff;
	opacity:0;
	font-weight:100;
	margin:0;
}
#sub_slogan .white_green{
	text-decoration: none;
	border-bottom:3px solid #fff;
	color:#fff;
}
#sub_slogan .white_green:visited{
	color:#fff;
}
#main_explanation{
	width:100%;
	text-align:center;
	margin-top: 270px;
	opacity:0;
	position: relative;
	z-index: 130;
}
#main_explanation p{
	color:#fff;
	font-family: 'Old Standard TT', serif;
	font-size:22px;
	font-weight:bold;
}
#exp_inner{
	width:300px;
	margin:0 auto;
}
.whiteline{
	text-align: center;
	width: 134px;
	margin: 0 auto;
	position: relative;
	float:left;
}
.whiteline:before{
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	height: 2px;
	width: 100%;
	margin-top: -2px;
}
.leafdiv{
	width: 32px;
	height: 32px;
	background: url(/naturally.com/images/leaf.png) no-repeat center center;
	margin: 0 auto;
	position: relative;
	float:left;
}
#content{
	width:auto;
	padding:10px;
}
.c_half{
	padding-left:10px;
	padding-right:10px;
	width:50%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
	float:left;
}
#main_carousel{
	width:100%;
	height:400px;
	margin:0 auto;
}
#main_carousel .fl_c_item{
  	width: 90%;
  	height: 400px;
  	margin-right: 10px;
  	background: #fff;
  	overflow: hidden;
}
#main_carousel .fl_c_item img{
	width:100%;
}
#maininfo{
	border-left:3px solid #7dcea0;
	padding-left:5px;
	position: relative;
}
#maininfo p{
	font-family: 'Old Standard TT', serif;
	font-size:20px;
	text-align:justify;
	margin:0;
}